{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.walmartlabs/lacinia  {:mvn/version "0.38.0-alpha-3"}
        com.walmartlabs/lacinia-pedestal  {:mvn/version "0.15.0-alpha-2"}
        com.stuartsierra/component {:mvn/version "0.3.2"}
        io.aviso/logging {:mvn/version "0.3.1"}
        org.clojars.pntblnk/clj-ldap {:mvn/version "0.0.16"}
        matteoredaelli/qliksense {:mvn/version "0.3.0"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
            :main-opts ["-m" "hf.depstar.uberjar" "lacinia-backends.jar"
                        "-C" "-m" "matteoredaelli.lacinia-backends"]}}}
